@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: var(--font-poppins, 'Poppins', sans-serif); 
  --font-heading: var(--font-geist-sans, sans-serif); 
  --font-color: var(--spotify-white);
}

body {
  font-family: var(--font-poppins);
}

h1, h2, h3, h4, h5, p {
  font-family: var(--font-poppins);
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
